/*<----- Container ----->*/
.container {
	width: 70%;
	border: 2px solid grey;
	margin: 100px auto;
	display: grid;
	grid-template-columns: .8fr 1.3fr 2fr;
	grid-template-rows: 50px 90px auto;
}
/*--- Kotak ---*/
.kotak {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f8d4;
}
.kotak:nth-child(odd) {
	background-color: #aeecdb;
}