/*<----- Parents ----->*/
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Catamaran',Sans-Serif;
}
/*<----- Navbar Dari Flexbox ----->*/
nav {
	display: flex;
	background-color: #1fd9a2;
	justify-content: space-around;
	padding: 60px;
	color: white;
}
nav .nametag {
	font: 23px/10px 'Righteous', cursive;
	letter-spacing: 3px;
}
nav ul {
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	font-weight: bold;
	font: 19px/10px 'Catamaran', sans-serif;
}
nav ul li a {
	text-decoration: none;
	color: #f6fcfd;
	font-size: .9em;
}
