@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');

h1 {
	font-family: 'Lobster', cursive;
	font-size: 45px;
}
p {
	font-family: 'Yomogi', cursive;
	font-size: 19px;
}