html{
	/*font-size: 30px;*/
}
body {
	font-family: "Roboto", Sans-Serif;
	color: #333;
	text-align: center;
	background-color: #eee;
	line-height: 1.6;
	font-weight: 300px;
	min-height: 2000px;
}

/* container */
.container{
	width: 80%;
	margin: auto;
}
.container h1{
	font-size: 50px;
}

/* typography */
.typography{
	display: flex;
}
.typography .col{
	flex: 1;
	margin: 0 0.5em;
	padding: 0 .5em;
}

/* em */
/*.typography{*/
/*	font-size: 20px;*/
/*}*/
/*.col-em{*/
/*	font-size: 2em;*/
/*}*/
/*.col-em h2{*/
/*	font-size: 4em; */
	/*nilainya jd 4 * 2 = 8em*/
/*}*/
/*.col-em p{*/
/*	font-size: 2em; */
	/*nilainya jd 2 × 2 = 4em*/
/*}*/
/* Kesimpulan :
● contoh : font-size: 2em;
	maka --> 2 x nilai elemen parent-nya. Kalau tdk ada nilai,maka dikali nilai defalut-nya(html/root)
	
/* rem */
/*.col-rem{*/
/*	font-size: 10px;*/
/*}*/
/*.col-rem h2{*/
/*	font-size: 4rem;*/
/*}*/
/*.col-rem p{*/
/*	font-size: 2rem;*/
/*}*/
/*Kesimpulan :
● contoh : font-size: 2rem;
	maka --> 2 x nilai html/root-nya. Kalau tdk ada nilainya, maka dikali nilai defalut(html/root)

/*length*/
.length .button{
	display: inline-block;
	background: #333;
	font-weight: 700px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	
	margin: 1rem;
	padding: 1em 2em;
}
.length .button-sm{
	font-size: .7em;
}
.length .button-lg{
	font-size: 1.7em;
}