/*<----- Container ----->*/
.container {
	width: 70%;
	border: 2px solid grey;
	margin: 100px auto;
	display: grid;
	grid-template-columns: .8fr 1.3fr;
	grid-template-rows: 70px 50px 100px;
	grid-auto-rows: 35px;
}
/*--- Kotak ---*/
.kotak {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f2f8d4;
	margin: 1px;
}
.kotak:nth-child(odd) {
	background-color: #aeecdb;
}
/* Kesimpulan :
● Kotak 1 - 6 Merupakan Explicit 
● kotak 7 - 9 merupakan Implicit
● grid-auto-rows digunakan untuk mengatur ukuran baris implicit
*/