h1 {
    font-family: "Times New Roman";
    font-size: 150px;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    
}
/* 
● font-size untuk mengatur ukuran font
● font-variant untuk mrngubah font menjadi small-caps (huruf kapital semua)
● font-style untuk membuat font menjadi miring (italic / oblique)
● font-style untuk membuat font menjadi miring
● font-weight: normal; untuk mengubah font menjadi tebal atw jadi normal
*/

p {
    font-family: Arial;
    line-height: 70px;
    font-weight: 350;
}
/* 
● line-height untuk membuat jarak antar baris
● font-weight untuk mengatur ketebalan font

