h1{
	font-size: 4em;
	text-align: center;
}
.border {
	width: 600px;
	height: 600px;
	
}
.border1{
	margin: auto;
	background-color: aqua;
	background-image: url('image.jpeg');
	background-repeat: no-repeat;
	text-align: center;
	background-size: cover;
	background-position: 0 -320px;
	border-radius: 50% 0 50% 0;	
}

.border2 {
	height: 300px;
	margin: 80px auto;
	background-color: aqua;
	border-radius: 0px 0px 300px 300px;
}

img {
	width: 800px;
	height: 1000px;
}
.gambar {
	width: 800px;
	height: 1000px;
	margin: 50px auto;
}
/*Tag Img tdk bisa di beri margin*/