/*<----- Container ----->*/
.container {
	width: 750px;
	border: 5px solid grey;
	border-radius: 10px;
	margin: 50px auto;
	text-align: center;
	font: 35px/40px sans-serif;
	font-weight: bold;
	padding: 5px;
	color: white;
	
	/* CSS-Grid */
	display: grid;
	grid-template-areas: "header header"
	"aside main"
	"nav main"
	"footer footer";
	grid-template-columns: 40% 60%;
	grid-template-rows: 150px 150px 350px 70px;
}
/*<----- Header ----->*/
header {
	grid-area: header;
	background-color: #ab47ee;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*<----- Aside ----->*/
aside {
	grid-area: aside;
	background-color: #2598df;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*<----- Navigation ----->*/
nav {
	grid-area: nav;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*<----- Main ----->*/
main {
	grid-area: main;
	background-color: #f2ae4f;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*<----- Footer ----->*/
footer {
	grid-area: footer;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}